:root {
    --cor-primaria: #DDF2FD;
    --cor-secundaria: #427D9D;
    --cor-botao: #9BBEC8;
    --cor-fundo: #164863;
    --cor-selecionado: #b3deeb;

    --fonte-principal: 'Playpen Sans';
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% 50%;

}

.container_titulo {
    font-size: 28px;
    font-weight: 700;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_botao {
    align-items: center;
    background-color: var(--cor-botao);
    border-radius: 12px;
    padding: 0.8em;
    color: var(--cor-primaria);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    margin-left: 11em;
    width: 360px;
}

.container_botao:hover {
    background-color: var(--cor-selecionado);
    transition: 0.4s;
    color: var(--cor-secundaria)
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.container_caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 70%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;
}

.descricao_texto {
    color: var(--cor-primaria);
    font-size: 20px;
}

.secundario_botao {
    display: inline-block;
    width: 270px;
    margin-top: 1em;
}

.container_descricao {
    padding: 2em;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--cor-primaria);
}

.lista_item {
    font-size: 28px;
    color: var(--cor-primaria);
}

.rodape {
    text-align: center;
}

.rodape_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7em 0 1em 0;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
}

.lista_link {
    text-align: center;
    padding: 0.5em;
    color: var(--cor-primaria);
}

.lista_link a {
    text-decoration: none;
    color: var(--cor-primaria);
}

.lista_link a:hover {
    color: var(--cor-selecionado);
    transition: 0.4s;
}

.rodape_texto {
    text-align: center;
    padding: 1em;
    font-size: 14px;
    color: var(--cor-secundaria);
    margin: 0 12em 0 12em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container_imagem {
        width: 50vw;
    }

    .container_caixa {
        margin: 2em 2em;
    }

    .container_titulo {
        margin: 5rem 5rem 5rem 5rem;
        
    }

    .container_botao {
        margin: auto;
    }

    .descricao_texto {
        margin: 3rem;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario_imagem {
        width: 50vw;
    }

    .dispositivos_lista {
        display: block;
    }

    .dispositivos_titulo {
        margin: 3rem;
    }

    .container_botao {
        width: auto;
    }

    .secundario_botao {
        margin-right: 10em;
    }

    .rodape_lista {
        display: block;
    }

    .rodape_texto {
        margin: 5rem 5rem;
    }
}

.aviso {
    text-align: center;
    width: auto;
    padding: 20rem;
}

